{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <p>Você é {{Group}} de idade e possui {{Age}} anos</p>
    <a href="/app/logout" class="logout">Voltar</a>
  </div>


{% endblock %}
